* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fa;
}

/* HEADER  */

header {
  background-color: white;
  height: 80px;
  padding: 10px;
  margin-bottom: 30px;
}

.logo {
  height: 50px;
  vertical-align: middle;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  vertical-align: middle;
  font-size: 2rem;
  font-weight: 900;
}

/* MAIN  */

.container {
  max-width: 70%;
  margin: 0 auto;
  background-color: white;
  padding-top: 15px;
  padding-left: 30px;
}

.inner-tab {
  margin-bottom: 30px;
}

.add-task-button {
  padding: 5px 10px;
  background-color: #4ca9f4;
  color: white;
  border: none;
  border-radius: 10%;
}
.add-section-button {
  padding: 5px 10px;
  background-color: white;
  color: #d8d7da;
  border: 1px solid #e7e6e7;
  border-radius: 10%;
}

.list-head {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.check {
  border: 1px solid green;
  border-radius: 50%;
  color: green;
}

.cross {
  border: 1px solid red;
  border-radius: 50%;
  color: red;
}

.editorial-button {
  padding: 5px 10px;
  background-color: #4ca9f4;
  color: white;
  border: none;
  border-radius: 20%;
  margin-bottom: 20px;
}

.goals-button {
  padding: 5px 10px;
  background-color: #9a73e0;
  color: white;
  border: none;
  border-radius: 20%;
  margin-bottom: 20px;
}

.recruiting-button {
  padding: 5px 10px;
  background-color: #62c3a9;
  color: white;
  border: none;
  border-radius: 20%;
  margin-bottom: 20px;
}

.mobile-button {
  padding: 5px 10px;
  background-color: #f09d35;
  color: white;
  border: none;
  border-radius: 20%;
  margin-bottom: 20px;
}

.second-list {
  margin-bottom: 20px;
}

.website-button {
  padding: 5px 10px;
  background-color: #db659d;
  color: white;
  border: none;
  border-radius: 20%;
  margin-bottom: 20px;
}

.sales-button {
  padding: 5px 10px;
  background-color: #acc725;
  color: white;
  border: none;
  border-radius: 20%;
  margin-bottom: 20px;
}

.list-item {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
